<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rafał Mirończyk</title>
</head>
<body>

    <h1>no elo</h1>

    <p>
        <strong>MENU: </strong>
        <a href="/">index</a> |
        <a href="/buddyzm">Materiały do prezentacji "Buddyzm a programowanie"</a>
    </p>

    <ul>
        <li><a href="http://sasana.wikidot.com/szlachetna-osmioraka-sciezka">E-book "Szlachetna Ośmioraka Ścieżka"</a></li>
        <li><a href="http://lubimyczytac.pl/ksiazka/57201/wprowadzenie-do-buddyzmu-zen">Książka "Wprowadzenie do buddyzmu Zen"</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Ole_Nydahl">Lama Ole Nydahl</a></li>
    </ul>


</body>
</html>
